/*Poppins font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
  margin: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  margin-top: 125px;
}

.imgtext {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  position: relative;
}

.imgtext img {
  transition: transform 0.3s;
}

.imgtext img:hover {
  transform: scale(1.025);
}

ol {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 22.5%;
  margin-right: 22.5%;
}

ol li {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 10px 0;
  padding: 0 0 0 20px;
  font-size: 16px;
}

ol li p {
  text-align: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

p {
  text-align: center;
  margin: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.quoted {
  border-left: 2px solid #333; /* Add a left border */
  padding: 10px; /* Add some padding for space between the text and the border */
  margin: 20px; /* Add margin for spacing around the div */
  margin-left: 10%;
  margin-right: 10%;
  background-color: #f7f7f7; /* Add a background color */
  font-style: italic; /* Make the text italic */
}

footer {
  margin: 50px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

/* Nav Styling */
.navbar {
  z-index: 1;
  position: fixed;
  background-color: #fff;
  padding: 10px;
  height: 100px;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: fixed;
  display: block;
  margin: 20px;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  margin: 20px;
  height: 26px;
  width: 32px;
  position: fixed;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

/* Hamburger animations */
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  background-color: #f7f7f7;
  display: block;
  padding: 75px;
  min-height: 100vh;
  width: 275px;
  position: fixed;
  left: -300px;
  transition: left 0.5s ease-in-out;
  overflow-x: hidden;
}

.navbar .menu-items li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  padding: 12px 16px;
}

.logo {
  margin: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #0e2431;
}

/* Animations for Hamburger Menu */
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  left: 0px;
}

/* Rotate lines to make X */
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

/* Remove Middle Line */
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

